@unifest:registry=https://gitlab.com/api/v4/groups/harmoniya/-/packages/npm/
//gitlab.com/api/v4/groups/harmoniya/-/packages/npm/:_authToken=${GITLAB_TOKEN}
//gitlab.com/api/v4/projects/81235310/packages/npm/:_authToken=${GITLAB_TOKEN}
